@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    font-family: "Poppins", sans-serif;
}

.page {
    padding-top: 90px;
}

li {
    list-style: none;
}

ul {
    padding-left: 0;
}

.wrapper {
    /* color: white !important; */
    background: white;
    box-shadow: 0px 1px 15px 0px black;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1000;
    transition: all 1s;
}

.hide-navbar {
    top: -100%
}

.wrapper nav {
    position: relative;
    display: flex;
    max-width: calc(100% - 200px);
    margin: 0 auto;
    width: 100%;
    height: 90px;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 90px;
    width: 130px;
}

.logo a img {
    padding: 3px;
    height: 100%;
    width: 100%;
}

nav .content {
    display: flex;
    align-items: center;
}

nav .content .links {
    display: flex;
    margin: auto;
    margin-left: 370px;
    float: right;
}

.content .logo a {
    color: #fff;
    font-size: 30px;
    font-weight: 700 !important;
}

.content .links li {
    list-style: none;
    line-height: 70px;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.content .links li a,
.content .links li label {
    color: #ffa500;
    font-size: 16px;
    font-weight: 500;
    padding: 9px 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.content .links li label {
    display: none;
}

.content .links li a:hover,
.content .links li label:hover {
    color: #127e3f;
}

.wrapper .search-icon,
.wrapper .menu-icon {
    color: #ffa500;
    font-size: 18px;
    cursor: pointer;
    line-height: 70px;
    width: 70px;
    text-align: center;
}

.wrapper .menu-icon {
    display: none;
}

.wrapper #show-search:checked~.search-icon i::before {
    content: "\f00d";
}

.wrapper .search-box {
    position: absolute;
    height: 100%;
    max-width: calc(100% - 50px);
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.wrapper #show-search:checked~.search-box {
    opacity: 1;
    pointer-events: auto;
}

.search-box input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 17px;
    color: #ffa500;
    background: #fff;
    padding: 0 100px 0 15px;
}

.search-box input::placeholder {
    color: #ffa500;
}

.search-box .go-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    line-height: 60px;
    width: 70px;
    border: none;
    outline: none;
    color: #ffa500;
    font-size: 20px;
    cursor: pointer;
}

.wrapper input[type="checkbox"] {
    display: none;
}


/* Dropdown Menu code start */

.content .links ul {
    position: absolute;
    background: #2f2f7c;
    margin-bottom: 0px !important;
    /* top: 80px;
    z-index: -1;
    opacity: 0;
    visibility: hidden; */
}

.content .links ul li a {
    color: white;
}

.content .links li:hover>ul {
    top: 60px;
    /* opacity: 1;
    visibility: visible; */
    padding: 0px;
    transition: all 0.3s ease;
}

.content .links ul li a {
    display: block;
    width: 100%;
    line-height: 30px;
    border-radius: 0px !important;
}

.content .links ul ul {
    position: absolute;
    top: 0;
    right: calc(-85%);
    padding: 0px;
}

.content .links ul li {
    position: relative;
    border-left: 5px solid transparent;
}

.content .links ul li:hover {
    border-left: 5px solid #ffa500;
}

.content .links ul li:hover>a {
    color: #ffa500;
}

.content .links ul li:hover ul {
    top: 10px;
}

.links ul {
    width: 100%;
}

ul li {
    display: block;
    position: relative;
}

li ul {
    display: none;
}

ul ul ul {
    top: 0%;
    left: 100%;
}

li:hover>ul {
    display: block;
    position: absolute;
}


/* Responsive code start */

@media screen and (max-width: 1250px) {
    .wrapper nav {
        max-width: 100%;
        padding: 0 20px;
    }
    nav .content .links {
        margin-left: 30px;
    }
    ul {
        margin-bottom: 0px;
    }
    .content .links li a {
        padding: 8px 13px;
    }
    .wrapper .search-box {
        max-width: calc(100% - 100px);
    }
    .wrapper .search-box input {
        padding: 0 100px 0 15px;
    }
}

@media screen and (max-width: 900px) {
    .wrapper .menu-icon {
        display: block;
    }
    .wrapper #show-menu:checked~.menu-icon i::before {
        content: "\f00d";
    }
    nav .content .links {
        display: block;
        position: fixed;
        background: #fff;
        height: 100%;
        width: 100%;
        top: 70px;
        left: -100%;
        margin-left: 0;
        max-width: 350px;
        overflow-y: auto;
        padding-bottom: 100px;
        transition: all 0.3s ease;
    }
    nav #show-menu:checked~.content .links {
        left: 0%;
    }
    .content .links li {
        margin: 15px 20px;
    }
    .content .links li a,
    .content .links li label {
        line-height: 40px;
        font-size: 20px;
        display: block;
        padding: 8px 18px;
        cursor: pointer;
    }
    .content .links li a.desktop-link {
        display: none;
    }
    /* dropdown responsive code start */
    .content .links ul,
    .content .links ul ul {
        position: static;
        opacity: 1;
        visibility: visible;
        /* max-height: 0px; */
        color: #ffa500;
        overflow: hidden;
    }
    .content .links #show-features:checked~ul,
    .content .links #show-services:checked~ul,
    .content .links #show-items:checked~ul {
        max-height: 100vh;
    }
    .content .links ul li {
        margin: 7px 20px;
    }
    .content .links ul li a {
        font-size: 18px;
        line-height: 30px;
        border-radius: 5px !important;
    }
}

@media screen and (max-width: 400px) {
    .wrapper nav {
        padding: 0 10px;
    }
    .content .logo a {
        font-size: 27px;
    }
    .wrapper .search-box {
        max-width: calc(100% - 70px);
    }
    .wrapper .search-box .go-icon {
        width: 30px;
        right: 0;
    }
    .wrapper .search-box input {
        padding-right: 30px;
    }
}